header{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: var(--third-color);
}

.container-menu{
    flex-direction: row;
    display: flex;
    justify-content:space-between;
    padding: 15px 0 0 15px;
    
    
}

.img-menu{
    margin: 0 15px 0 0;
}

.lista-menu{
    display: none;
}