header{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: var(--third-color);
}

.container-menu{
    flex-direction: row;
    display: flex;
    justify-content:space-between;
    padding: 15px 0 0 15px;
    
    
}

.titulo-principal{
    color:var(--second-color);
    font-family: "Roboto", sans-serif;
    font-weight:200;
    font-size: 0,01rem;

}

.name{
    font-weight: 700;
    font-size: 0,01rem;
    text-align: center;
}

.img-menu{
    margin: 0 15px 0 0;
}

.lista-menu{
    display: none;
}